/* General styling */

:root {
    --theme-1: rgb(10, 10, 23);
    --theme-2: rgb(12, 12, 28);
    --theme-3: rgb(38, 38, 66);
    --navbar-background: rgb(18, 18, 36);
    --alt: rgb(85, 85, 145);

    --success: #68e76e;

    --navbar-width: 4rem;
    --navbar-expanded-width: 40%;

    font-size: 18px;
}

body {
    margin: 0;
    background-color: var(--theme-2);
    color: white;
    font-family: 'SUSE', sans-serif;
}